#main
	padding: 0
	
	.post
		h2
			line-height: 37px !important
	
	.avada-row
		padding: 0
	
#content
	margin-top: 100px
	width: 100%
	@include below(sm)
		margin-top: 75px
		
	.single-navigation
		display: none
		
	.post
		margin: 0
		
		.meta-info
			margin-bottom: 0
			margin-top: 50px
			
			.meta-info-wrapper
				margin: 0 30px
			
		.entry-title, .post-content
			margin: 0 40px
			
		.entry-title
			margin-bottom: 30px
			
		.post-content
			.alignleft, .alignright, .aligncenter
				margin-top: 10px
				margin-bottom: 5px
			.alignleft
				margin-left: -20px
			.alignright
				margin-right: -20px