#main {
  padding: 0; }
  #main .post h2 {
    line-height: 37px !important; }
  #main .avada-row {
    padding: 0; }

#content {
  margin-top: 60px;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    #content {
      margin-top: 75px; } }
  #content .single-navigation {
    display: none; }
  #content .post {
    margin: 0; }
    #content .post .meta-info {
      margin-bottom: 0;
      margin-top: 50px; }
      #content .post .meta-info .meta-info-wrapper {
        margin: 0 30px; }
    #content .post .post-content, #content .post .author-area, #content .post .deck {
      margin: 0 auto;
      max-width: 720px; }
      @media only screen and (max-width: 992px) {
        #content .post .post-content, #content .post .author-area, #content .post .deck {
          max-width: none;
          margin: 0 75px; } }
    #content .post .entry-title {
      margin: 0 auto;
      font-family: "AmplitudeCond";
      max-width: 840px; }
      @media only screen and (max-width: 992px) {
        #content .post .entry-title {
          max-width: none;
          margin: 0 50px; } }
    #content .post .entry-title, #content .post .author-title, #content .post .deck {
      margin-bottom: 30px;
      text-align: center; }
    #content .post .deck {
      font-family: "Utopia Std";
      line-height: 22px;
      font-size: 18px; }
    #content .post .author-area {
      text-align: center;
      margin-bottom: 5px;
      line-height: 24px;
      font-size: 24px;
      font-family: "Amplitude"; }
    #content .post .author-title {
      margin-top: 0px;
      line-height: 16px;
      font-size: 16px; }
    #content .post .author-area p, #content .post .author-title p {
      margin: 0; }
    #content .post .post-content {
      font-family: "Utopia Std";
      font-size: 16px;
      line-height: 20px; }
      #content .post .post-content .alignleft, #content .post .post-content .alignright, #content .post .post-content .aligncenter {
        margin-top: 20px;
        margin-bottom: 15px; }
      #content .post .post-content .alignleft {
        margin-left: -50px; }
      #content .post .post-content .alignright {
        margin-right: -50px; }
      @media only screen and (max-width: 768px) {
        #content .post .post-content {
          font-size: 24px;
          line-height: 26px; } }

#homepage #content {
  width: 100%; }
  #homepage #content .list .post-list {
    margin: 0 auto;
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 0; }
    #homepage #content .list .post-list .stuff {
      width: 50%;
      display: inherit; }
      @media only screen and (max-width: 992px) {
        #homepage #content .list .post-list .stuff {
          width: 100%; } }
      #homepage #content .list .post-list .stuff .post-list-item {
        width: 100%;
        height: auto;
        display: inherit; }
        #homepage #content .list .post-list .stuff .post-list-item .link {
          width: 100%;
          height: auto;
          display: inherit; }
          #homepage #content .list .post-list .stuff .post-list-item .link .post-info {
            width: 100%;
            height: 32vw;
            display: inherit;
            background-size: 100% 100%;
            background-position: center; }
            @media only screen and (max-width: 992px) {
              #homepage #content .list .post-list .stuff .post-list-item .link .post-info {
                height: 70vw; } }
            #homepage #content .list .post-list .stuff .post-list-item .link .post-info #text {
              margin: 11vw 0;
              background: rgba(25, 25, 25, 0.75); }
              #homepage #content .list .post-list .stuff .post-list-item .link .post-info #text p {
                text-align: center;
                vertical-align: middle;
                margin: 0;
                padding: 25px 0;
                width: 100%;
                font-size: 20px;
                line-height: 25px; }

.brd {
  display: none; }

#header {
  display: inline-block;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 9000;
  background: #fff;
  box-shadow: 0px 0px 10px 3px #444; }
  @media only screen and (max-width: 992px) {
    #header {
      height: auto; } }
  #header #logo, #header #social-icons {
    display: inherit;
    margin: 5px; }
    #header #logo a, #header #social-icons a {
      margin: 0;
      padding: 0; }
      #header #logo a p, #header #social-icons a p {
        margin: inherit;
        padding: inherit; }
  #header #logo {
    float: left;
    padding: 5px 25px; }
    @media only screen and (max-width: 992px) {
      #header #logo {
        float: none;
        text-align: center;
        margin: 5px auto; } }
    #header #logo a p {
      font-size: 40px;
      line-height: 40px;
      font-family: "ChunkFive", sans-serif; }
      @media only screen and (max-width: 768px) {
        #header #logo a p {
          font-size: 7vw;
          line-height: 7vw; } }
    #header #logo a .vanderbilt {
      color: #FFD534;
      transition: color 0.25s ease; }
    #header #logo a .hustler {
      color: #DDD;
      transition: color 0.25s ease; }
    #header #logo a:hover .vanderbilt {
      color: #DDD; }
    #header #logo a:hover .hustler {
      color: #FFD534; }
  #header #social-icons {
    float: right;
    padding: 10px 25px; }
    #header #social-icons img {
      width: 30px;
      height: 30px;
      margin: 0 15px; }
    @media only screen and (max-width: 992px) {
      #header #social-icons {
        display: none; } }

/*# sourceMappingURL=main.css.map */
