
@font-face {
    font-family: 'ChunkFive';
    src: url('http://www.vanderbilthustler.online/fonts/chunk-webfont.eot');
    src: url('http://www.vanderbilthustler.online/fonts/chunk-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.vanderbilthustler.online/fonts/chunk-webfont.woff2') format('woff2'),
         url('http://www.vanderbilthustler.online/fonts/chunk-webfont.woff') format('woff'),
         url('http://www.vanderbilthustler.online/fonts/chunk-webfont.ttf') format('truetype'),
         url('http://www.vanderbilthustler.online/fonts/chunk-webfont.svg#chunkfiveregular') format('svg');
    font-weight: normal;
    font-style: normal;

};

@font-face {
    font-family: 'Utopia Std';
    src: url('http://www.vanderbilthustler.online/fonts/UtopiaStd-Regular.eot');
    src: url('http://www.vanderbilthustler.online/fonts/UtopiaStd-Regular.eot?#iefix') format('embedded-opentype'),
         url('http://www.vanderbilthustler.online/fonts/UtopiaStd-Regular.woff') format('woff'),
         url('http://www.vanderbilthustler.online/fonts/UtopiaStd-Regular.ttf') format('truetype'),
         url('http://www.vanderbilthustler.online/fonts/UtopiaStd-Regular.svg#chunkfiveregular') format('svg');
    font-weight: normal;
    font-style: normal;

};

@font-face {
    font-family: 'Amplitude';
    src: url('http://www.vanderbilthustler.online/fonts/Amplitude-Regular.eot');
    src: url('http://www.vanderbilthustler.online/fonts/Amplitude-Regular.eot?#iefix') format('embedded-opentype'),
         url('http://www.vanderbilthustler.online/fonts/Amplitude-Regular.woff') format('woff'),
         url('http://www.vanderbilthustler.online/fonts/Amplitude-Regular.ttf') format('truetype'),
         url('http://www.vanderbilthustler.online/fonts/Amplitude-Regular.svg#chunkfiveregular') format('svg');
    font-weight: normal;
    font-style: normal;

};

@font-face {
    font-family: 'AmplitudeCond';
    src: url('http://www.vanderbilthustler.online/fonts/AmplitudeCond-Regular.eot');
    src: url('http://www.vanderbilthustler.online/fonts/AmplitudeCond-Regular.eot?#iefix') format('embedded-opentype'),
         url('http://www.vanderbilthustler.online/fonts/AmplitudeCond-Regular.woff') format('woff'),
         url('http://www.vanderbilthustler.online/fonts/AmplitudeCond-Regular.ttf') format('truetype'),
         url('http://www.vanderbilthustler.online/fonts/AmplitudeCond-Regular.svg#chunkfiveregular') format('svg');
    font-weight: normal;
    font-style: normal;

};